<%= form_for(language, remote: true) do |form| %>
  <div class="field-group">
    <%= form.text_field :language, class: 'form-control mt-4 mb-2', placeholder: 'Add a language', required: true %>
  </div>
  <div class="field-group">
    <%= form.submit class: 'btn btn-primary mb-2' %>
  </div>
<% end %>
