<div id="errors"></div>
<div id="languages-form">
  <%= render 'form', language: Language.new %>
</div>
<hr>
<h1>Languages</h1>
<small>
  <i class="fa fa-check" aria-hidden="true" style="color:green;"></i> - indicates that language is in use already
</small>
<table class="table mt-2" id="languages-container">
  <%= render @languages %>
</table>
